<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>
            body
            {
                background-color:#93d2db;
            }
            .search
            {
                width:9em;
            }
        </style>

    </head>
    <body>
    <div class="container">
        <h1 align="center">Welcome to Adidev Scrapers!</h1>
        <div style="float:left; margin-left:350px;">
            <form action="amazon">
                <input type="submit" value="Amazon" class="search">
            </form>
        </div>
        <div style="float:left; margin-left:40px;">
            <form action="ebay">
                <input type="submit" value="Ebay" class="search">
            </form>
        </div>
        <div style="float:left; margin-left:35px;">
            <form action="flipkart">
                <input type="submit" value="FlipKart" class="search">
            </form>
        </div>
    </div>
    </body>
</html>